.preloader{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px dotted #E3872D;
    animation: loader 1s ease-in-out infinite;
}
.item {
    position: absolute;
    top: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #E3872D;
    font-size: 15px;
}
.item1 {
    left: -.5em;
    margin-top: -.5em;
}
.item2 {
    font-size: 13px;
    right: -.5em;
    margin-top: -.5em;
}
.item3 {
    font-size: 11px;
    left: 50%;
    top: -.5em;
    margin-left: -.5em;
}
.item4 {
    font-size: 9px;
    top: auto;
    left: 50%;
    bottom: -.5em;
    margin-left: -.5em;
}
@keyframes loader {
    to {
        transform: rotate(0);
    }
    from {
        transform: rotate(360deg);
    }
}