.stars {
    position: relative;
    display: inline-flex;
}
.star {
    display: flex;
    color: #E3872D;
    font-size: 1.3em;
}
.one {
    position: relative;
    z-index: 1;
    opacity: .4;
}
.two {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;
}