.productsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.moreProduct {
    margin-top: 20px;
    padding: 10px 25px 8px;
    border-radius: 5px;
    border: 1px solid #041230;
    color: #041230;
}
.moreProduct strong {
    color: #E3872D;
}
