.team {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 900px;
}
.team:nth-child(even) {
    flex-direction: row-reverse;
    margin-left: auto;
    text-align: right;
}
.img {
    flex-shrink: 0;
    width: 170px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}
.about {
    padding: 20px;
}
.about small {
    display: inline-block;
    margin-bottom: 15px;
}


@media screen and (max-width: 1279.5px) {
    .team {
        width: 100%;
    }
}
