.socials {
    padding: 3vw;
    border-top: 1px solid rgba(255,255,255,.1);
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.link {
    font-size: 20px;
    margin: 0 10px;
    color: inherit;
}
.link:hover {
    color: #E3872D;
}