.product {
    position: relative;
    margin-bottom: 30px;
    width: calc(33% - 20px);
    height: 300px;
    overflow: hidden;
}
.productAdd {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 34px;
    height: 34px;
    line-height: 36px;
    font-size: 20px;
    border: 1px solid #041230;
    color: #041230;
    border-radius: 50%;
}
.productAdd.active,
.productAdd:hover {
    color: #E3872D;
    border-color: #E3872D;
    transition: .3s;
}
.productAdd.active span::before {
    content: '\e915';
    opacity: 1;
    transition: all .3s .3s;
}
.productMore {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30%;
    padding: 15px 15px 0;
    background-image: linear-gradient(to top, rgba(255,255,255,.9), rgba(255,255,255,0));
    font-weight: 500;
    transform: translateY(100%);
    transition: transform .3s;
}
.product:hover .productMore {
    transform: translateY(0);
    transition: transform .3s;
}
.productMore:hover {
    color: #E3872D;
}

@media screen and (max-width: 1440px) {
    .product {
        width: calc(33% - 30px);
    }
}
@media screen and (max-width: 991.8px) {
    .productMore {
        transform: translateY(0);
    }
}
@media screen and (max-width: 767.8px) {
    .product {
        width: calc(50% - 30px);
    }
}
@media screen and (max-width: 575.8px) {
    .product {
        width: 100%;
        margin: 10px;
    }
}

