.review {
    display: flex;
    align-items: flex-start;
}
.reviewHeader {
    display: flex;
    align-items: center;
    padding-right: 20px;
    flex-shrink: 0;
    width: 300px;
}
.reviewImg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 20px;
}
.reviewImg strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    z-index: 1;
    color: #fff;
    text-shadow: 0 0 10px #000;
}
.reviewContent {
    position: relative;
    flex-grow: 1;
    max-width: 800px;
    box-shadow: 0px 6px 45px rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    padding: 30px;
    margin-bottom: 30px;
}

.reviewName .h3 {
    line-height: 1;
    margin-bottom: 10px;
}
.reviewDate {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: rgba(8, 5, 0, .4);
}
.reviewContent h5 {
    font-size: 16px;
    margin-bottom: 1em;
    font-weight: 700;
}

@media screen and (max-width: 1279.5px) {
    .reviewHeader {
        width: 250px;
    }
}
