.logoBlock {
    display: flex;
    align-items: center;
    padding: 3vw;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.st0{
    font-family:'MyriadPro-Regular';
    fill:#fff;
}
.st1{
    font-size:72px;
}
.st2{
    font-size:36px;
    opacity: .7;
}
.logo:hover .st2 {
    opacity: 1;
}
.logo:hover .st1 {
    opacity: .7;
}
