.cart {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 1.5vw;
    box-shadow: 0 6px 45px rgba(0, 0, 0, 0.07);
}
.cartImg {
    flex-shrink: 0;
    width: 110px;
    height: 110px;
    border-radius: 5px;
    overflow: hidden;
}
.cartTitle {
    flex-grow: 1;
    padding: 10px 20px;
    font-size: 1em;
}
.remove {
    flex-shrink: 0;
    margin-left: 2vw;
    font-size: 1.5em;
}
.cartTitle:hover,
.countBtn:hover,
.remove:hover {
    color: #E3872D;
}
.cartPrice {
    flex-shrink: 0;
    padding: 0 2vw;
    font-size: 1em;
}
.cartCounter {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 1.1em;
}
.count {
    width: 50px;
    text-align: center;
}
