.aboutContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 6px 45px rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
    padding: 2vw;
}
.aboutContent h3 {
    width: 100%;
    margin-bottom: 20px;
}
.aboutContent > div {
    width: 45%;
}
.teamsBlock {
    padding: 2vw;
    box-shadow: 0px 6px 45px rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
}
.teamsBlock h3 {
    margin-bottom: 20px;
}