.carts {
    max-width: 1000px;
}
.total {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 20px;
    max-width: 1000px;
    font-size: 30px;
    background-color: #fff;
    box-shadow: 0px 6px 45px rgba(0, 0, 0, 0.07);
}
.total span {
    margin-right: 20px;
}
.total strong {
    margin-left: 10px;
}
