.homeSlider {
    margin-bottom: 40px;
}
.homeSlide {
    display: flex;
    height: 360px;
}
.slideContent {
    display: flex;
    flex-direction: column;
    flex-basis: 360px;
    padding: 2vw;
    background-color: #041230;
    color: #fff;
}
.slideImg {
    flex-grow: 1;
}
.slideContent h3 {
    line-height: 1.1;
    margin-bottom: 20px;
}
.slideContent p {
    flex-grow: 1;
    margin-bottom: 20px;
    overflow: auto;
}
.slideMore {
    width: 100%;
    padding: 15px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
}
