.miaHeader{
    position: relative;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #041230;
    transition: all .3s ease;
}
.miaHeader.active {
    margin-left: -300px;
    transition: all .5s;
}


.menuToggle {
    position: absolute;
    right: 0px;
    bottom: 20%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #E3872D;
    color: #fff;
    z-index: 2;
    transition: all .3s ease;
}
.menuToggle.active {
    right: -30px;
}
.menuToggle span {
    transition: .3s;
}
.menuToggle:hover span {
    margin-left: -5px;
    transition: .3s;
}
.menuToggle.active:hover span {
    margin-left: auto;
    margin-right: -5px;
}
.menuToggle.active span::before {
    content: "\e905";
}
.menuBtn {
    display: none;
}

@media screen and (max-width: 1023.5px) {
    .miaHeader {
        position: fixed;
        left: -300px;
        top: 0;
        z-index: 99;
    }
    .miaHeader.active {
        left: 0;
        margin-left: 0;
    }
    .menuBtn {
        display: block;
        position: absolute;
        left: 100%;
        top: 27px;
        font-size: 40px;
    }
    .menuBtn.active span::before {
        content: "\e911";
    }
    .menuToggle {
        display: none;
    }
}
@media screen and (max-width: 575.5px) {
    .menuBtn {
        top: 20px;
    }
}











.loginCart {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}

.loginBtn,
.headerCart {
    position: relative;
    display: block;
    z-index: 9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-bottom: 10px;
}
.cartCount {
    position: absolute;
    right: -2px;
    top: -2px;
    line-height: 1;
    color: #E3872D;
}
.loginBtn.logined .iconLogin,
.loginBtn .iconUser {
    display: none;
}
.loginBtn.logined .iconUser {
    display: inline-block;
}
.userName {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: right;
    transform: translateX(-110%) scaleX(0);
    height: 40px;
    white-space: nowrap;
    opacity: 0;
    transition: .3s;
}
.loginBtn.logined:hover .userName {
    opacity: 1;
    transform: translateX(-110%) scaleX(1);
    transition: .3s;
}

