.menuList {
    width: 100%;
    flex-grow: 1;
    padding: 3vw;
}
.menuLink {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 19px;
    transition: all .3s ease;
}
.menuLink::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #E3872D;
    top: 14px;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 10px;
    transition: all .3s ease;
}
.active,
.menuLink:focus,
.menuLink:hover {
    color: #E3872D;
    text-decoration: none;
}
.active::before,
.menuLink:hover::before {
    width: 35px;
}