
.loginBlock {
    max-width: 600px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 6px 45px rgba(0, 0, 0, 0.07);
}
.loginItem {
    display: block;
}
.loginItem input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #041230;
    color: #041230;
    padding: 0 20px;
    margin-bottom: 20px;
}
.loginSubmit {
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px solid #041230;
    background-color: #041230;
    color: #fff;
    margin-bottom: 10px;
}
.active,
.loginSubmit:hover {
    background-color: #fff;
    color: #041230;
}
.loginTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.loginTop .loginSubmit {
    width: 48%;
}