/*  icon-fonts  */
@font-face {
    font-family: 'icomoon';
    src:  url('./icon-fonts/icomoon.eot?wqxebg');
    src:  url('./icon-fonts/icomoon.eot?wqxebg#iefix') format('embedded-opentype'),
    url('./icon-fonts/icomoon.ttf?wqxebg') format('truetype'),
    url('./icon-fonts/icomoon.woff?wqxebg') format('woff'),
    url('./icon-fonts/icomoon.svg?wqxebg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e900";
}
.icon-email:before {
    content: "\e901";
}
.icon-check:before {
    content: "\e902";
}
.icon-check1:before {
    content: "\e915";
}
.icon-down:before {
    content: "\e903";
}
.icon-left:before {
    content: "\e904";
}
.icon-right:before {
    content: "\e905";
}
.icon-up:before {
    content: "\e906";
}
.icon-facebook:before {
    content: "\e907";
}
.icon-instagram:before {
    content: "\e908";
}
.icon-linkedin:before {
    content: "\e909";
}
.icon-login:before {
    content: "\e917";
}
.icon-gmail:before {
    content: "\e90a";
}
.icon-menu:before {
    content: "\e90b";
}
.icon-minus:before {
    content: "\e914";
}
.icon-plus:before {
    content: "\e90c";
}
.icon-telegram:before {
    content: "\e90d";
}
.icon-share:before {
    content: "\e90e";
}
.icon-cart:before {
    content: "\e916";
}
.icon-uncheck:before {
    content: "\e912";
}
.icon-remove:before {
    content: "\e90f";
}
.icon-twitter:before {
    content: "\e910";
}
.icon-user:before {
    content: "\e918";
}
.icon-close:before {
    content: "\e911";
}
.icon-star:before {
    content: "\e913";
}
/*  icon-fonts  */

*,::after,::before {
    box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
main,miaHeader,footer,nav,aside,form,section {
    display: block;
}
button,input,textarea {
    font: inherit;
    background: 0 0;
    border: 0;
    outline: 0;
    max-width: 100%;
    color: inherit;
}
::-webkit-input-placeholder{
    color: inherit;
    font: inherit;
}
:-moz-placeholder {
    color: inherit;
    font: inherit;
}
::-moz-placeholder {
    color: inherit;
    font: inherit;
}
:-ms-input-placeholder {
    color: inherit;
    font: inherit;
}
button {
    cursor: pointer;
    padding: 0;
}
a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    transition: .3s;
}
a:focus,
a:hover {
    transition: .3s;
    text-decoration: none;
}
.d-flex   	 { display: flex; }
.d-i-flex    { display: inline-flex; }
.d-column 	 { display: flex; flex-direction: column; }
.between  	 { justify-content: space-between; }
.center   	 { justify-content: center; }
.right   	 { justify-content: flex-end; }
.middle   	 { align-items: center; }
.bottom   	 { align-items: flex-end; }
.wrap     	 { flex-wrap: wrap; }
.r-reverse   { flex-direction: row-reverse; }
.c-reverse   { flex-direction: column-reverse; }
.grow-1   	 { flex-grow: 1; }
.shrink-0 	 { flex-shrink: 0;}
.h-100    	 { height: 100% !important; }
.w-100    	 { width: 100% !important; }
.hidden      { overflow: hidden; }
.overflow-auto      { overflow: auto; }
.none        { display: none; }
.text-upp 	 { text-transform: uppercase; }
.relative 	 { position: relative; }
.mb-0        { margin-bottom: 0 !important; }
.mr-0        { margin-right: 0 !important; }
.text-right  { text-align: right; }
.text-center  { text-align: center; }
.img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    font-weight: 400;
}
h1,h2,h3,h4,.h4,.h3,h5,.h1,.h5,h6 {
    font-family: 'Alice', serif;
    font-weight: 500;
}
h1 {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: .5em;
}
.h1 {
    font-size: 54px;
}
h2 {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.25;
}
h3 {
    font-size: 32px;
    line-height: 1.5;
}
h4, .h3 {
    font-size: 26px;
    line-height: 1.36;
}
.h4 {
    font-size: 26px;
}
h5 {
    font-size: 22px;
}
.h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.colorPink {
    color: #E3872D;
}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
}
@media screen and (max-width: 991.8px) {
    h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 575.8px) {
    h1 {
        font-size: 30px;
    }
}



.miaMain {
    position: relative;
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
    padding: 3vw 30px;
    background-color: #F6F7FA;
    transition: all .3s ease;
}
.miaMain h1 {
    margin-bottom: 4vw
}
@media screen and (max-width: 1023.5px) {
    .miaMain {
        padding: 30px;
    }
    .miaMain h1 {
        padding-left: 30px;
    }

}
