.productPage {
    display: flex;
    align-items: flex-start;
}
.productImages {
    flex-basis: 25%;
}
.img {
    width: 100%;
    margin-bottom: 15px;
    vertical-align: middle;
}
.img:last-child {
    margin-bottom: 0;
}
.productContent {
    flex-grow: 1;
    margin-left: 30px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 6px 45px rgba(0, 0, 0, 0.07);
}
.productHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.price {
    font-size: 32px;
    line-height: 1.5;
    font-family: 'Alice', serif;
}
.btn {
    padding: 12px 30px 10px;
    background-color: #E3872D;
    color: #ffffff;
    text-transform: uppercase;
}